/* DESKTOP */
@media (min-width:1440px) {
  .section {
    width: 975px;
  }
}

/* STYLE FIXES */
@media (max-width:968px) {
  /* tabs */
  .nav-links li {
    font-size: .8em;
  }
  .nav-links {
    width: 450px;
  }
  /* header */
  .header-content .title {
    font-size: 2.8em;
  }
  .bheader img {
    right: 5%;
    opacity: .5;
  }
  /* about */
  .about-content h1 {
    font-size: 1.83em;
  }
  .about-content p {
    font-size: .9em;
  }
  /* registering */
  .register-item {
    width: 200px;
    height: calc(1.20533333333 * 200px);
  }
  .register-content {
    height: 180px;
  }
  .register-content h1 {
    font-size: 1.4em;
  }
  .register-content p {
    font-size: .8em;
  }
  .register-content .button {
    margin-left: 0px;
    bottom: 10px;
  }
  .register-content .button p {
    font-size: .8em;
  }
}

/* TABLET */
@media (max-width:720px) {
  /* nav bar/hamburger */
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #25283d;
    margin: 5px;
    border-radius: 25px;
    transition: transform .1s;
  }
  nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 150px;
    height: 150vh;
    background: #fff;
    z-index: 2;
    box-shadow: 3px 3px 15px -5px rgba(0,0,0,.5);
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
    transition: transform 200ms linear;
  }
  .hamburger {
    position: fixed;
    cursor: pointer;
    right: 5%;
    top: 10px;
    z-index: 3;
  }
  .nav-links {
    right: 40px;
    top: 60px;
    height: 250px;
    width: auto;
    flex-direction: column;
    pointer-events: all;
  }
  nav.open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: transform 200ms linear;
  }
  .hamburger .line:nth-child(1).open {
    transform-origin: center;
    transform: rotate(45deg) translate(6px, 5px);
    transition: transform .1s;
  }
  .hamburger .line:nth-child(2).open {
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .1s;
  }
  .hamburger .line:nth-child(3).open {
    transform-origin: center;
    transform: rotate(-45deg) translate(6px, -6px);
    transition: transform .1s;
  }
  .nav-links li {
    float: right;
    font-size: .9em;
    margin: 0;
  }
  /* global sections */
  .section {
    width: 80%;
  }
  /* header */
  .header-content {
    text-align: center;
    width: 100%;
    padding-top: 48vw;
  }
  .header-content .title {
    font-size: 2.4em;
  }
  .header-content .loc-date {
    font-size: 1em;
  }
  .header-content .register-info {
    font-size: .9em;
  }
  .header-content .register .learn-more {
    margin-top: 9px;
  }
  /* button */
  .button {
    height: 36px;
  }
  .button p {
    font-size: 1em;
    margin-top: 10px;
  }
  /* about */
  #about .section {
    margin-bottom: 130px;
  }
  .about-content {
    width: 80%;
    margin-left: 10%;
  }
  .about-content h1 {
    font-size: 1.5em;
  }
  .about-content p {
    font-size: .85em;
  }
  /* registering */
  .register-item {
    width: 150px;
    height: calc(1.20533333333 * 150px);
    margin: 3px;
  }
  .register-container {
    margin-top: -100px;
  }
  .register-content {
    margin-top: 18px;
    height: 138px;
  }
  .register-content h1 {
    font-size: 1.1em;
  }
  .register-content p {
    margin-top: 8px;
    font-size: 10px;
  }
  .register-content .button {
    margin-left: 0px;
    height: 30px;
  }
  .register-content .button p {
    margin-top: 9px;
    padding: 0 1.3vw;
    font-size: .74em;
  }
  /* tracks */
  .track-item {
    margin: 0 10px;
  }
  .track-item img {
    height: 100px;
  }
  /* footer */
  .footer-container {
    width: 90%;
    margin-left: 5%;
  }
  /* background */
  .background {
    position: absolute;
    width: 100%;
  }
  .bheader img {
    top: 50px;
    right: 0;
    left: -40px;
    width: 60%;
    opacity: 1;
    margin: auto;
  }
  .bright img {
    right: 10px;
    width: 100px;
  }
  .bleft img {
    left: 10px;
    width: 100px;
  }
}

/* PHONE */
@media (max-width:520px) {
  /* header */
  .header-content .title {
    font-size: 2em;
  }
  .header-content .loc-date {
    font-size: .9em;
  }
  .header-content .register-info {
    font-size: .8em;
  }
  /* about */
  .about-content {
    width: 100%;
    margin-left: 0;
  }
  /* registering */
  .register-item {
    width: 120px;
    height: calc(1.20533333333 * 120px);
    margin: 0;
  }
  .register-content {
    margin-top: 13px;
    height: 108px;
  }
  .register-content h1 {
    font-size: .8em;
  }
  .register-content p {
    margin-top: 3px;
    font-size: 8.5px;
  }
  .register-content .button {
    margin-left: 4px;
    height: 24px;
    border-radius: 7px;
    margin-bottom: -5px;
  }
  .register-content .button p {
    margin-top: 6px;
    letter-spacing: .5px;
    padding: 0 1.3vw;
    font-size: .5em;
  }
  /* footer */
  .footer-container {
    width: 95%;
    margin-left: 2.5%;
  }
}

/* SMALL SMALL... */
@media (max-width:430px) {
  /* header */
  .header-content .title {
    font-size: 1.55em;
  }
  .header-content .loc-date {
    font-size: .8em;
  }
  .header-content .register-info {
    font-size: .65em;
  }
  .header-content .register .learn-more {
    margin-top: 9px;
    font-size: .8em;
  }
  /* button */
  .button {
    height: 32px;
  }
  .button p {
    font-size: .8em;
    margin-top: 8px;
  }
  /* footer */
  .footer-container {
    width: 100%;
    margin-left: 0%;
  }
}
