/* DESKTOP */
@media (min-width:1440px) {
  .section {
    width: 975px;
  }
}

/* STYLE FIXES */
@media (max-width:968px) {
  /* tabs */
  .nav-links li {
    font-size: .8em;
  }
  .nav-links {
    width: 350px;
  }
  nav {
    right: 35%;
  }
  /* header */
  .header-content .title {
    font-size: 2.8em;
  }
  .bheader img {
    right: 5%;
    opacity: .5;
  }
  /* about */
  .about-content {
    width: 90%;
  }
  .about-content h1 {
    font-size: 1.83em;
  }
  .about-content p {
    font-size: .9em;
  }
  #about .section-background {
    height: 300px;
  }
  /* registering */
  .register-item {
    width: 200px;
    height: calc(1.20533333333 * 200px);
  }
  .register-content {
    height: 180px;
  }
  .register-content h1 {
    font-size: 1.4em;
  }
  .register-content p {
    font-size: .8em;
  }
  .register-content .button {
    margin-left: 21px;
    bottom: 10px;
  }
  .register-content .button p {
    font-size: .8em;
  }
}

/* TABLET */
@media (max-width:720px) {
  .slackWifiContainer img {
    margin-right: 10px;
    float: left;
  }
  .slackWifiContainer div {
    width: 308px;
    text-align: left;
    display: inline-block;
  }
  .slackWifiContainer {
    text-align: center;
    width: 100%;
    display: inline-block;
  }
  #mlh-trust-badge {
    right: 85px !important;
  }
  #hardware .hardware-item {
    white-space: normal;
  }
  .schedule-container.live {
    width: 97%;
    max-width: 500px;
  }
  /* nav bar/hamburger */
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #25283d;
    margin: 5px;
    border-radius: 25px;
    transition: transform .1s;
  }
  nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 150px;
    height: 150vh;
    background: #fff;
    z-index: 4;
    box-shadow: 3px 3px 15px -5px rgba(0,0,0,.5);
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
    transition: transform 200ms linear;
  }
  .hamburger {
    position: fixed;
    cursor: pointer;
    right: 5% !important;
    top: 10px;
    z-index: 5;
  }
  .nav-links {
    right: 40px;
    top: 60px;
    height: 200px;
    width: auto;
    flex-direction: column;
    pointer-events: all;
  }
  nav.open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: transform 200ms linear;
  }
  .hamburger .line:nth-child(1).open {
    transform-origin: center;
    transform: rotate(45deg) translate(6px, 5px);
    transition: transform .1s;
  }
  .hamburger .line:nth-child(2).open {
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .1s;
  }
  .hamburger .line:nth-child(3).open {
    transform-origin: center;
    transform: rotate(-45deg) translate(6px, -6px);
    transition: transform .1s;
  }
  .nav-links li {
    float: right;
    font-size: .9em;
    margin: 0;
    height: 50px;
    padding-top: 15px;
    padding-left: 15px;
  }
  /* global sections */
  .section {
    width: 80%;
  }
  /* header */
  .header-content {
    text-align: center;
    width: 100%;
    padding-top: 44vw;
  }
  .header-content .title {
    font-size: 2.4em;
  }
  .header-content .loc-date {
    font-size: 1.1em;
  }
  .header-content .register-info {
    font-size: 1em;
  }
  .header-content .register .learn-more {
    margin-top: 9px;
  }
  /* button */
  .button {
    height: 36px;
  }
  .button p {
    font-size: 1em;
    margin-top: 10px;
  }
  /* about */
  #about .section {
    margin-bottom: 150px;
  }
  #about .section-background {
    height: 300px;
  }
  .about-content {
    width: 80%;
  }
  .about-content h1 {
    font-size: 1.5em;
  }
  .about-content p {
    font-size: .85em;
  }
  /* tracks */
  #tracks {
    margin-top: 150px;
  }
  .track-subtitle {
    font-size: .85em;
    width: 400px;
  }
  /* registering */
  .register-item {
    width: 150px;
    height: calc(1.20533333333 * 150px);
    margin: 3px;
  }
  .register-container {
    margin-top: -100px;
  }
  .register-content {
    margin-top: 18px;
    height: 138px;
  }
  .register-content h1 {
    font-size: 1.1em;
  }
  .register-content p {
    margin-top: 8px;
    font-size: .65em;
  }
  .register-content .button {
    margin-left: 10px;
    height: 30px;
    top: 106px;
  }
  .register-content .button p {
    margin-top: 8px;
    padding: 0 15px;
    font-size: .74em;
  }
  /* tracks */
  .track-item {
    margin: 0 10px;
  }
  .track-item img {
    height: 100px;
  }
  /* footer */
  .footer-container {
    width: 90%;
    margin-left: 5%;
  }
  /* background */
  .background {
    position: absolute;
    width: 100%;
  }
  .bheader img {
    top: 50px;
    right: 0;
    left: -40px;
    width: 60%;
    opacity: 1;
    margin: auto;
  }
  .bright img {
    right: 10px;
    width: 100px;
  }
  .bleft img {
    left: 10px;
    width: 100px;
  }
  .live.bheader img {
    top: 120px;
  }
  .subtitle.live {
    font-size: 1.2em;
    width: auto;
    margin: 0 30px;
  }
  .parking-content.live {
    text-align: center;
  }
  .parking-content.live .left {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .parking-content.live .right {
    width: 90%;
    margin: 0;
  }
}

/* PHONE */
@media (max-width:520px) {
  /* header */
  .section:nth-child(1) {
    width: 100%;
  }
  .header-content .title {
    font-size: 7.9vw;
  }
  .header-content .loc-date {
    font-size: 1.1em;
  }
  .header-content .register-info {
    font-size: 1em;
  }
  /* about */
  .about-content {
    width: 100%;
  }
  /* registering */
  /* .register-item {
    width: 120px;
    height: calc(1.20533333333 * 120px);
    margin: 2px;
  } */
  .register-item:nth-child(3) {
    margin-top: 5px;
  }
  /* .register-content {
    margin-top: 13px;
    height: 108px;
  }
  .register-content h1 {
    font-size: .8em;
  }
  .register-content p {
    margin-top: 3px;
    font-size: 8px;
  }
  .register-content .button {
    margin-left: 4px;
    height: 24px;
    border-radius: 7px;
    margin-bottom: -5px;
  }
  .register-content .button p {
    margin-top: 6px;
    letter-spacing: .5px;
    padding: 0 1.3vw;
    font-size: .5em;
  } */
  /* footer */
  .footer-container {
    width: 95%;
    margin-left: 2.5%;
  }
}

/* SMALL SMALL... */
@media (max-width:430px) {
  #countdown {
    font-size: .9em;
  }
  /* header */
  .header-content .loc-date {
    font-size: 1em;
  }
  .header-content .register-info {
    font-size: .75em;
  }
  .header-content .register .learn-more {
    margin-top: 9px;
    font-size: .8em;
  }
  /* registering */
  .register-item:nth-child(1) {
    margin-top: 0;
  }
  .register-item:nth-child(4) {
    margin-bottom: -100px;
  }
  .register-item {
    width: 200px;
    height: calc(1.20533333333 * 200px);
    margin: 13px;
  }
  .register-content {
    margin-top: 13px;
    height: 200px;
  }
  .register-content h1 {
    font-size: 1.4em;
    margin-top: 10px;
  }
  .register-content p {
    margin-top: 15px;
    font-size: .8em;
  }
  .register-content .button {
    margin-left: 20px;
    height: 30px;
    border-radius: 7px;
    top: 160px;
  }
  .register-content .button p {
    margin-top: 5px;
    width: auto;
    letter-spacing: auto;
    padding: 0 15px;
    font-size: 1em;
  }
  #about .section-background {
    height: 360px;
  }
  /* tracks */
  .track-subtitle {
    font-size: .85em;
    width: 90%;
  }
  .track-item {
    margin: 0 5px;
    font-size: .8em;
  }
  .track-item img {
    height: 85px;
  }
  /* button */
  .button {
    height: 32px;
  }
  .button p {
    font-size: .8em;
    margin-top: 8px;
  }
  /* footer */
  .footer-container {
    width: 100%;
    margin-left: 0%;
  }
}
